[submodule "src/code.cloudfoundry.org/refnozzle"]
	path = src/code.cloudfoundry.org/refnozzle
	url = git@github.com:cloudfoundry-incubator/refnozzle
[submodule "src/code.cloudfoundry.org/go-diodes"]
	path = src/code.cloudfoundry.org/go-diodes
	url = git@github.com:cloudfoundry/go-diodes
[submodule "src/code.cloudfoundry.org/go-loggregator"]
	path = src/code.cloudfoundry.org/go-loggregator
	url = git@github.com:cloudfoundry/go-loggregator
[submodule "src/google.golang.org/grpc"]
	path = src/google.golang.org/grpc
	url = git@github.com:grpc/grpc-go
[submodule "src/github.com/golang/protobuf"]
	path = src/github.com/golang/protobuf
	url = git@github.com:golang/protobuf
[submodule "src/golang.org/x/net"]
	path = src/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "src/golang.org/x/text"]
	path = src/golang.org/x/text
	url = https://go.googlesource.com/text
[submodule "src/github.com/onsi/ginkgo"]
	path = src/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo
[submodule "src/github.com/onsi/gomega"]
	path = src/github.com/onsi/gomega
	url = https://github.com/onsi/gomega
[submodule "src/gopkg.in/yaml.v2"]
	path = src/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
